<div class="col-12 mb-2 bg-dark text-light p-3">
  <h3 class="portfolio-item-title text-light">{{ post.title }}</h3>
  <h5 class="portfolio-languages">
  {{ post.description }}
  </h5>
  <p>{{ post.user.username }}</p>
  <p>{{ post.createdAt }}</p>
{{#if author}}
  <a href="/posts/edit/{{id}}" class="btn">Edit</a>
  <a href="" class="btn">Delete</a>
{{/if}}
</div>

{{#if loggedIn }}
<form class="comment-form bg-dark p-2 text-light">
  <div class="col-8">
    <textarea name="comment-body" class="comment-ta"></textarea>
  </div>

  <div>
    <a class="ml-2 my-1 px-2 py-1 bg-secondary text-dark" id="comment-submit">add comment</a>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

<script src="/javascript/comment.js"></script>
<script src="/javascript/logout.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/edit.js"></script>

